<h1>Hello Rails</h1>
<p>Ce n'est pas encore 12h30 pour aller manger, patience patrik!! </p>
<p> Il est <%= @time.strftime("%R") %></p>
<a href="/say/goodbye">Goodbye</a><br>
<%= link_to "Rails generated link ", say_goodbye_path %>
